---
title: MapBox.js
layout: default
category: introduction
fullwidth: true
section: developers
---

<div class='limiter'>
{% include header.html %}
</div>

{% capture example %}
var map = L.mapbox.map('map', '<strong>examples.map-9ijuk24y</strong>', {
    scrollWheelZoom: false
});
{% endcapture %}

<div class='col12 contain space-bottom4 clearfix'>
  <div class='limiter row12'>
    <div class='col5 margin1r'>
    <div class='space-bottom2 prose'>
      <p>With just a few lines of code, build your map with customizable controls like search and share.</p>
    </div>

      <div class='dark example space-bottom2'>
  <pre>{{example}}</pre>
      </div>

      <nav class='keyline-all toggle-options round space-bottom2 col12'>
        <a href='#' data-option='zoom' class='col12 keyline-bottom quiet space pad1 active'>
          <span class='icon check dot fill-green'></span>
          Zoom Controls
        </a>
        <a href='#' data-option='disable-scroll' class='col12 keyline-bottom quiet space pad1 active'>
          <span class='icon check dot fill-green'></span>
          Disable mouse scrolling
        </a>
        <a href='#' data-option='search' class='col12 keyline-bottom quiet space pad1'>
          <span class='icon check dot fill-darken0'></span>
          Search
        </a>
        <a href='#' data-option='share' class='col12 keyline-bottom quiet space pad1'>
          <span class='icon check dot fill-darken0'></span>
          Share
        </a>
        <a href='#' data-option='markers' class='col12 quiet space pad1'>
          <span class='icon check dot fill-darken0'></span>
          Markers
        </a>
      </nav>

      <p>Check out <a href='#features'>all features</a> or start <a href='#use'>using mapbox.js</a>.</p>
    </div>

    <div class='hide-mobile col6 pad4y pin-right'>
      <div class='wireframe'>
        <div class='top pad1 fill-darken0 round-top'>
          <span class='dot fill-darken1'></span>
          <span class='dot fill-darken1'></span>
          <span class='dot fill-darken1'></span>
        </div>
        <div id='map-example' class='row10 col12 fill-darken0 body'></div>
      </div>
    </div>
  </div>
</div>

<script>
var mapid = 'examples.map-9ijuk24y';

function updateCode(data) {
  console.log(data);
}

function removeControl(prop) {
  if (map[prop]) {
      map.removeControl(map[prop]);
      delete map[prop];
  }
}

function load() {
  var map = L.mapbox.map('map-example', mapid, {
      scrollWheelZoom: false
  });

  var options = ['zoom'];
  var unique = (App && App.user && App.currentmap) ? App.currentmap : mapid;

  // Replace username.mapid with the current one.
  $('pre').each(function() {
    $(this).html($(this).html().replace(mapid, unique));
  });

  $('.toggle-options a').click(function() {
    var option = $(this).data('option');

    if ($(this).is('.active')) {
      $(this).removeClass('active');
      $(this).find('.icon')
        .removeClass('fill-green')
        .addClass('fill-darken0');

      switch (option) {
        case 'zoom':
        break;
        case 'search':
        break;
        case 'share':

        console.log(map);
          _(options).without('share');
        break;
        case 'markers':
        break;
      }
    } else {
      $(this).addClass('active');
      $(this).find('.icon')
        .removeClass('fill-darken0')
        .addClass('fill-green');

      switch (option) {
        case 'zoom':
        break;
        case 'search':
        break;
        case 'share':
          map.addControl(L.mapbox.shareControl());
          options.push('share');
        break;
        case 'markers':
        break;
      }
    }

    updateCode(options);
    return false;
  });
}

$(load);
</script>

<div class='limiter clearfix'>
  <div class='col10 margin1'>

    <div class='examples col12 clearfix prose'>
      <a href='#' class='block row6 col4 pad2 center'>
        <span class='center small-graphic dot fill-blue inline pad1 dark space-bottom2'>
          <span class='icon big data'></span>
        </span>
        <p><strong>Add data</strong> like <strong>GeoJSON</strong>, a simple format for adding interactive features to a map.</p>
        <small>View example</small>
      </a>
      <a href='#' class='col4 row6 pad2 keyline-left keyline-right center'>
        <span class='center small-graphic dot fill-blue inline pad1 dark space-bottom2'>
          <span class='icon big tooltip'></span>
        </span>
        <p><strong>Tell stories</strong> Like a walk through locations told in a story.</p>
        <small>View example</small>
      </a>
      <a href='#' class='block col4 row6 pad2 center'>
        <span class='center small-graphic dot fill-blue inline pad1 dark space-bottom2'>
          <span class='icon big graph'></span>
        </span>
        <p><strong>Create data visualizations</strong> like choropleths that illustrate population concentration.</p>
        <small>View example</small>
      </a>
    </div>

    <div id='use' class='pad4y'>
      <div class='keyline-all'>
        <div class='pad2'>
          <h2 id='getting-started' class='space-bottom1'>Use it</h2>
          <div class='prose'>
            <p>MapBox.js is hosted on the same reliable and speedy CDN that powers MapBox tiles. There&#39;s no API key to use it. All that's needed is a reference to the script &amp; CSS in your HTML.</p>
  {% highlight html %}<link href='//api.tiles.mapbox.com/mapbox.js/{{site.mapboxjs}}/mapbox.css' rel='stylesheet' />
  <script src='//api.tiles.mapbox.com/mapbox.js/{{site.mapboxjs}}/mapbox.js'></script>{% endhighlight %}
            <a href='#standalone' id='trigger-standalone' class='small strong'>Need MapBox.js without Leaflet bundled?</a>
          </div>
        </div>

        <div id='standalone' class='note hidden'>
          <h3 id='standalone' class='space-bottom1'>MapBox.js standalone</h3>
          <div class='prose'>
            <p>A standalone version of MapBox.js is also available without Leaflet included. Add the following in your HTML document:</p>
  {% highlight html %}<link href='//api.tiles.mapbox.com/mapbox.js/{{site.mapboxjs}}/mapbox.standalone.css' rel='stylesheet' />
  <script src='//api.tiles.mapbox.com/mapbox.js/{{site.mapboxjs}}/mapbox.standalone.js'></script>{% endhighlight %}
            <small>Note: <strong>Leaflet 0.7</strong> or greater is required.</small>
          </div>
        </div>
      </div>
    </div>

    <div id='features'>
      <div class='clearfix'>
        <div class='col6 pad2'>
          <div class='center'>
            <span class='small-graphic dot fill-darken1 inline pad1 dark space-bottom2'>
              <span class='icon big leaflet'></span>
            </span>
            <h3 id='mapbox-and-leaflet' class='space-bottom1'>Leaflet built-in</h3>
          </div>
          <div class='prose'>
            <p>MapBox.js is built on top of <a href='http://leafletjs.com/'>Leaflet</a> &#8212; an open-source mapping library. <a href='http://leafletjs.com/reference.html'>Leaflet's API</a> handles much of the fundamental operations of using maps. MapBox.js documentation should be read in conjunction with the <a href='http://leafletjs.com/reference.html'>Leaflet API reference</a>.</p>
          </div>
        </div>

        <div class='col6 pad2'>
          <div class='center'>
            <span class='small-graphic dot fill-darken1 inline pad1 dark space-bottom2'>
              <span class='icon big heart'></span>
            </span>
            <h3 id='open-specs' class='space-bottom1'>Open</h3>
          </div>
          <div class='prose'>
            <p>The source code is open source and available on <a href='//github.com/mapbox/mapbox.js/'>GitHub</a>. It takes advantage of open specifications like <a href='http://mapbox.com/developers/tilejson/'>TileJSON</a>, <a href='http://mapbox.com/developers/utfgrid/'>UTFGrid</a> and  <a href='http://www.geojson.org/'>GeoJSON</a>.</p>
          </div>
        </div>
      </div>

      <div class='clearfix'>
        <div class='col6 pad2'>
          <div class='center'>
            <span class='small-graphic dot fill-darken1 inline pad1 dark space-bottom2'>
              <span class='icon big check'></span>
            </span>
            <h3 id='browser-supported' class='space-bottom1'>Browser tested &amp; supported</h3>
          </div>
          <div class='prose'>
            <p>MapBox.js is compatible with IE8+ and <a href='http://browsehappy.com/'>modern browsers</a> like Chrome, Firefox, and Safari.</p>
          </div>
        </div>

        <div class='col6 pad2'>
          <div class='center'>
            <span class='small-graphic dot fill-darken1 inline pad1 dark space-bottom2'>
              <span class='icon big mobile'></span>
            </span>
            <h3 id='mobile' class='space-bottom1'>Optimized for mobile</h3>
          </div>
          <div class='prose'>
            <p>MapBox.js is optimized for mobile devices and small screens by default. For additional tools for managing mobile maps, check out the <a href='{{site.baseurl}}/api/{{site.mapboxjs}}/#section-mobile'>Mobile section in the documentation</a>.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='clearfix pad4y'>
  <div class='center clearfix'>
    <div class='prose'>
      <p><strong>Have a question?</strong> Try <a href='http://stackoverflow.com/questions/tagged/mapbox?sort=votes&pageSize=100'>StackOverflow</a>. We're also happy to help out with code on <a href='http://support.mapbox.com/discussions/mapboxjs'>support.mapbox.com</a>.</p>
    </div>
  </div>
</div>

<script>
$(function() {
  if (window.location.hash === '#standalone') $('#standalone').removeClass('hidden');
  $('#trigger-standalone').click(function() {
    $('#standalone').removeClass('hidden');
    return false;
  });
});
</script>

<div class='keyline-top'>
  <div class='limiter'>
    {% include developers-footer.html %}
  </div>
</div>
